:root {
  /*==theme==*/
  --color-primary: #94e214;
  --color-primary-variant: #71a71a;

  --color-empty: #93ad69;

  --color-bg-1: #141414;
  --color-bg-2: #e3e3e3;
  --color-bg-3: #4f4f4f;

  --color-light: #85a2b2;
  --color-white: #ffffff;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Turret Road", cursive;
}

a {
  color: var(--color-white);
  transition: var(--transition);
}
a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

body {
  background: linear-gradient(256deg, var(--color-bg-1), var(--color-bg-3));
}

/**nav*/
nav {
  height: 5rem;
  width: 100vw;
  display: flex;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  visibility: hidden;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 4rem;
}

.nav-content {
  display: flex;
}

.nav_contact {
  display: flex;
  gap: 1rem;
}

.nav_contact_btn {
  background: var(--color-bg-1);
  border-radius: 0.5rem;
  border: var(--color-white) 0.1rem solid;
  color: var(--color-white);
  right: 6%;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: 20px;
  box-shadow: 0 2px 22px 0 #000000;
  transition: var(--transition);
}

.nav_contact_btn:hover {
  color: var(--color-primary);
  border: var(--color-primary) 0.1rem solid;
  box-shadow: none;
}

.nav_contact a {
  width: 12rem;
  height: 2.2rem;
  background: transparent;
  border-radius: 0.5rem;
  color: var(--color-text);
  display: grid;
  place-items: center;
}

/*nav class when scrolled using javascript*/
.window-scrolled {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: 20px;
  backdrop-filter: blur(10px);
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: var(--transition);
}

/*header*/
header {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  top: 0;
  overflow: hidden;
  color: var(--color-white);
}

.header-container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  margin-top: 10rem;
  position: relative;
}

.header_left p {
  margin-top: 2rem;
  width: 85%;
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0%;
  }
}

#name {
  color: var(--color-primary);
}

.tag {
  font-size: 1rem;
  animation-duration: 2s;
}

.header-container {
  display: flex;
  flex-direction: row-reverse;
}

.header_right {
  width: 25rem;
  height: 25rem;
  position: relative;
  right: 6rem;
}

.header_right img {
  height: 100%;
  width: 100%;
  border-radius: 14.5rem;
  z-index: 1000;
}

.header_socials {
  margin-left: 4%;
  display: flex;
  gap: 1rem;
}

.header_socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    )
    no-repeat;
  border-radius: 0.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: var(--color-bg-2);
  display: grid;
  place-items: center;
}

.header_socials a:hover {
  color: var(--color-primary);
  box-shadow: none;
  transition: var(--transition);
}

.about-container {
  padding-top: 10rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  margin-top: 10rem;
  position: relative;
  background: linear-gradient(256deg, var(--color-bg-1), var(--color-bg-3));
}

.about_left p {
  font-size: 3rem;
  text-align: end;
}

.about_left p span {
  color: var(--color-primary);
}

.about_right {
  color: var(--color-white);
  font-size: 1rem;
  width: 25rem;
}

.about_contact {
  width: 15rem;
  margin-left: -2rem;
}

.about_contact_btn {
  margin-top: 3rem;
  border-radius: 0.5rem;
  border: var(--color-white) 0.1rem solid;
  box-shadow: 0 2px 12px 0 #000000;
  transition: var(--transition);
}

.about_contact_btn:hover {
  border: var(--color-primary) 0.1rem solid;
  box-shadow: none;
}

.about_contact_btn a:hover {
  color: var(--color-primary-variant);
}

.about_contact a {
  height: 3rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  display: grid;
  place-items: center;
}

.skills-container {
  padding-top: 10rem;
  height: 100vh;
  display: grid;
  padding-top: 10rem;
  position: relative;
  background: linear-gradient(256deg, var(--color-bg-1), var(--color-bg-3));
}

.hard {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
}

.skills_left p {
  font-size: 3rem;
  text-align: end;
}

.skills_left p span {
  color: var(--color-primary);
}

.skills_right {
  margin-top: -2rem;
  margin-left: 3rem;
  color: var(--color-white);
  font-size: 1.5rem;
}

.skills_right li {
  font-size: 2rem;
}

.skills_right i {
  color: var(--color-primary);
  padding: 2rem;
}

.soft {
  margin-top: 4rem;
  margin-left: 6rem;
  display: grid;
  gap: 4%;
}

.soft p {
  font-size: 4rem;
}

.soft span {
  color: var(--color-primary);
}

.soft_right ul {
  margin-top: 2rem;
  border: 1rem solid #4f4f4f;
}

.soft_skills {
  margin-top: 3rem;
  display: flex;
  gap: 0.3rem;
}

.soft_skills li {
  font-size: 1rem;
  white-space: nowrap;
  width: auto;
  height: 2rem;
  padding: 0.4rem;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    )
    no-repeat;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: var(--color-bg-2);
  display: grid;
  place-items: center;
}

.projects-container {
  padding-top: 10rem;
  height: auto;
  padding: 1rem;
  display: grid;
  padding-top: 10rem;
  position: relative;
  background: linear-gradient(256deg, var(--color-bg-1), var(--color-bg-3));
}

.gallery_title {
  color: var(--color-primary);
}

.gallery_title h1 {
  font-size: 3rem;
}

.gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  gap: 10px;
}

.gallery-item .overlay .gallery-link {
  display: flex;
  gap: 10px;
}

.gallery-item .overlay .gallery-link i {
  color: #e3e3e3;
  cursor: pointer;
  transition: 800ms smooth;
}

.gallery-item .overlay p {
  font-size: 20px;
  text-align: center;
  color: var(--color-bg-2);
  width: 200px;
}

.gallery-item .overlay .gallery-link i:hover {
  color: var(--color-primary);
  transform: scale(1.1);
  cursor: pointer;
}

.gallery-item:hover img {
  transform: scale(1.1);
  filter: blur(0.8px);
}

.gallery-item:hover .overlay {
  opacity: 1;
}

footer {
  height: 3rem;
}

/* Media Query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  /* Update styles for smaller screens here */
  .nav_links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav_contact {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .nav_contact_btn {
    width: auto;
    margin: 0;
  }

  .nav_contact_btn a {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .header_left p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
  }

  .header_right {
    width: 10rem;
    height: 10rem;
    position: relative;
    right: 6rem;
  }

  .header_right img {
    height: 100%;
    width: 100%;
    border-radius: 14.5rem;
    z-index: 1000;
  }

  .header_socials {
    justify-content: center;
  }

  .about-container {
    padding-top: 5rem;
  }

  .about_left p {
    font-size: 2rem;
  }

  .about_right {
    width: 100%;
  }

  .about_right p {
    font-size: 1rem;
    text-align: center;
  }

  .about_contact_btn {
    margin-top: 2rem;
  }

  .skills-container {
    padding-top: 5rem;
  }

  .hard {
    display: flex;
    flex-direction: column;
  }

  .skills_left p {
    text-align: center;
  }

  .skills_right {
    margin: 2rem 0;
    text-align: center;
  }

  .soft {
    margin-top: 3rem;
    margin-left: 0;
  }

  .soft p {
    font-size: 2rem;
    text-align: center;
  }

  .soft_skills {
    justify-content: center;
  }

  .soft_skills li {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }

  .projects-container {
    padding-top: 5rem;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .gallery-item {
    width: 100%;
  }

  /**/

  .hamburger {
    visibility: visible; /* Show the hamburger icon */
  }

  .nav-content {
    display: none; /* Hide the navigation links by default */
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: var(--color-bg-1);
    z-index: 10;
  }

  .nav_links {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .nav_links li {
    text-align: center;
  }

  .nav_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /* Show navigation links when the hamburger icon is clicked */
  .nav-toggle:checked + .nav-container .nav-content {
    display: block;
  }
}
